In [ ]:
pip install d6tstack

# This is Election Year!
We're going to load up some fec data into a postgres database:

In [25]:
# First we will import the things we need to make a connection to server
import psycopg2
import psycopg2.extras
import sqlalchemy
import postgres_config as pcfg
from sqlalchemy import create_engine
import d6tstack
import d6tstack.combine_csv as d6tc

import pandas as pd
import glob

jpd_uri_psql = f'postgresql+psycopg2://{pcfg.postgres_username}:{pcfg.postgres_password}@localhost/{pcfg.postgres_dbname}'
cnx = create_engine(pcfg.pg_engine_params)
conn = psycopg2.connect(pcfg.pg_engine_params)

## Database design:
Before we go further we need to answer some questions about the data.
1. How is it coming in to us?
   - We have an option of a series of CSV's 
   - OR we have a single large json with maybe less header info
2. What will constitute a unique primary key?
    - In light of possible near collisions it might be best to consider the next option
3. Will we have to create a unique hash_id
    - luckily postgres has a way of doing this
4. What kind of relationships are there between tables?
    -
5. Is there any advantage of having the data in separate tables or would having a giant table with all the files appended on to it be the way to go?
6. What other data can we querry against this data base?
7. What hints and fields can we find correlations with outside of the scope of our dataset?
8. What are the columns and data types? do they vary from file to file? what about the json?

In [26]:
# Well let's get into it. We'll make a table using sqlaclhemy and try to import one file into it
# Going to try and use a new tool to avoid using the sloppy mess of code i wrote to
# ingest csv files: d6tstacks promises to solve data ingestion issues we'll see.
# I'll be leaning on their example notbook

jeopardy_fnames = [f for f in glob.glob("../this_is_jeopardy/**/*.tsv", recursive=True)]
for name in jeopardy_fnames:
    print(name)

../this_is_jeopardy\jeopardy_clue_dataset\kids_teen.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season1.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season10.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season11.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season12.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season13.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season14.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season15.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season16.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season17.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season18.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season19.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season2.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season20.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season21.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season22.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season23.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season24.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season25.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season26.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season27.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season28.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season29.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season3.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season30.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season31.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season32.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season33.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season34.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season35.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season4.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season5.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season6.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season7.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season8.tsv
../this_is_jeopardy\jeopardy_clue_dataset\season9.tsv

In [10]:
c = d6tc.CombinerCSV(jeopardy_fnames, sep='\t') # all_strings=True makes reading faster
col_sniff = c.sniff_columns()
print('all columns equal?', c.is_all_equal())
print('')
print('which columns are present in which files?')
print('')
print(c.is_column_present())
print('')
print('in what order do columns appear in the files?')
print('')
print(col_sniff['df_columns_order'].reset_index(drop=True))

sniffing columns ok
all columns equal? True

which columns are present in which files?

                                                    round  value  daily_double  category  comments  answer  question  air_date  notes
file_path
../this_is_jeopardy\jeopardy_clue_dataset\kids_...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True
../this_is_jeopardy\jeopardy_clue_dataset\seaso...   True   True          True      True      True    True      True      True   True

in what order do columns appear in the files?

    round  value  daily_double  category  comments  answer  question  air_date  notes
0       0      1             2         3         4       5         6         7      8
1       0      1             2         3         4       5         6         7      8
2       0      1             2         3         4       5         6         7      8
3       0      1             2         3         4       5         6         7      8
4       0      1             2         3         4       5         6         7      8
5       0      1             2         3         4       5         6         7      8
6       0      1             2         3         4       5         6         7      8
7       0      1             2         3         4       5         6         7      8
8       0      1             2         3         4       5         6         7      8
9       0      1             2         3         4       5         6         7      8
10      0      1             2         3         4       5         6         7      8
11      0      1             2         3         4       5         6         7      8
12      0      1             2         3         4       5         6         7      8
13      0      1             2         3         4       5         6         7      8
14      0      1             2         3         4       5         6         7      8
15      0      1             2         3         4       5         6         7      8
16      0      1             2         3         4       5         6         7      8
17      0      1             2         3         4       5         6         7      8
18      0      1             2         3         4       5         6         7      8
19      0      1             2         3         4       5         6         7      8
20      0      1             2         3         4       5         6         7      8
21      0      1             2         3         4       5         6         7      8
22      0      1             2         3         4       5         6         7      8
23      0      1             2         3         4       5         6         7      8
24      0      1             2         3         4       5         6         7      8
25      0      1             2         3         4       5         6         7      8
26      0      1             2         3         4       5         6         7      8
27      0      1             2         3         4       5         6         7      8
28      0      1             2         3         4       5         6         7      8
29      0      1             2         3         4       5         6         7      8
30      0      1             2         3         4       5         6         7      8
31      0      1             2         3         4       5         6         7      8
32      0      1             2         3         4       5         6         7      8
33      0      1             2         3         4       5         6         7      8
34      0      1             2         3         4       5         6         7      8
35      0      1             2         3         4       5         6         7      8

In [11]:
c.combine_preview()

     round  value daily_double              category comments                                             answer            question    air_date                                      notes                                           filepath       filename
0        1    100           no                 BIRDS        -  The bat parrot probably got its name from slee...         upside-down  1987-02-16  1987 Teen Tournament quarterfinal game 1.  ../this_is_jeopardy\jeopardy_clue_dataset\kids...  kids_teen.tsv
1        1    200           no                 BIRDS        -  Too "lei"zy to migrate, the geese in this trop...              Hawaii  1987-02-16  1987 Teen Tournament quarterfinal game 1.  ../this_is_jeopardy\jeopardy_clue_dataset\kids...  kids_teen.tsv
2        1    300           no                 BIRDS        -  A bird waterproofs its feathers with oil from ...            its tail  1987-02-16  1987 Teen Tournament quarterfinal game 1.  ../this_is_jeopardy\jeopardy_clue_dataset\kids...  kids_teen.tsv
3        1    100           no        LAKES & RIVERS        -            River mentioned most often in the Bible          the Jordan  1984-09-10                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season1.tsv
4        1    200           no        LAKES & RIVERS        -                             Scottish word for lake                loch  1984-09-10                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season1.tsv
..     ...    ...          ...                   ...      ...                                                ...                 ...         ...                                        ...                                                ...            ...
103      1    200           no        TRANSPORTATION        -  In case you have to leave the oasis in a hurry...           dromedary  1991-09-02                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season8.tsv
104      1    300           no        TRANSPORTATION        -  The Academic  American Ency. calls this vehicl...             bicycle  1991-09-02                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season8.tsv
105      1    100           no  20TH CENTURY AMERICA        -  On Oct. 18, 1965 David Miller was the first to...         draft cards  1992-09-07                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season9.tsv
106      1    200           no  20TH CENTURY AMERICA        -  To save copper in 1943, the U.S. government ma...             pennies  1992-09-07                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season9.tsv
107      1    300           no  20TH CENTURY AMERICA        -  Between August 9 & December 19, 1974 the count...  Nelson Rockefeller  1992-09-07                                          -  ../this_is_jeopardy\jeopardy_clue_dataset\seas...    season9.tsv

[108 rows x 11 columns]

In [27]:
jeopardy_all_df = c.to_pandas()

In [ ]:
jeopardy_all_df.describe()

In [24]:
d6tstack.utils.pd_to_psql(jeopardy_all_df, jpd_uri_psql, 'every_jeopardy_question', if_exists='replace', sep='\t')

True

# Jeopardy Json File:
The providence of this file... i don't remember. Find out though soon.
Found it:
https://www.reddit.com/r/datasets/comments/1uyd0t/200000_jeopardy_questions_in_a_json_file/

## jeopardy_json_path = '../this_is_jeopardy/JEOPARDY_QUESTIONS1.json'
jeopardy_json_df = pd.read_json(jeopardy_json_path)
jeopardy_json_df.to_json(orient='records', path_or_buf='../this_is_jeopardy/data/200kp_jeopardy.json')
jeopardy_format_path = '../this_is_jeopardy/data/200kp_jeopardy.json'
jeopardy_clean_df = pd.read_json(jeopardy_format_path)
jeopardy_clean_df.head()

In [64]:
jeopardy_clean_df

                               category    air_date                                           question  value                          answer             round  show_number
0                               HISTORY  2004-12-31  'For the last 8 years of his life, Galileo was...   $200                      Copernicus         Jeopardy!         4680
1       ESPN's TOP 10 ALL-TIME ATHLETES  2004-12-31  'No. 2: 1912 Olympian; football star at Carlis...   $200                      Jim Thorpe         Jeopardy!         4680
2           EVERYBODY TALKS ABOUT IT...  2004-12-31  'The city of Yuma in this state has a record a...   $200                         Arizona         Jeopardy!         4680
3                      THE COMPANY LINE  2004-12-31  'In 1963, live on "The Art Linkletter Show", t...   $200                     McDonald\'s         Jeopardy!         4680
4                   EPITAPHS & TRIBUTES  2004-12-31  'Signer of the Dec. of Indep., framer of the C...   $200                      John Adams         Jeopardy!         4680
...                                 ...         ...                                                ...    ...                             ...               ...          ...
216925                   RIDDLE ME THIS  2006-05-11  'This Puccini opera turns on the solution to 3...  $2000                        Turandot  Double Jeopardy!         4999
216926                        "T" BIRDS  2006-05-11  'In North America this term is properly applie...  $2000                      a titmouse  Double Jeopardy!         4999
216927           AUTHORS IN THEIR YOUTH  2006-05-11  'In Penny Lane, where this "Hellraiser" grew u...  $2000                    Clive Barker  Double Jeopardy!         4999
216928                       QUOTATIONS  2006-05-11  'From Ft. Sill, Okla. he made the plea, Arizon...  $2000                        Geronimo  Double Jeopardy!         4999
216929                   HISTORIC NAMES  2006-05-11  'A silent movie title includes the last name o...   None  Grigori Alexandrovich Potemkin   Final Jeopardy!         4999

[216930 rows x 7 columns]

In [71]:
jeopardy_clean_df.to_sql(con=jpd_uri_psql, name='twokp_jeopardy', if_exists='replace', index=True)